

.conta2 .navbar{
    background-image: linear-gradient(to right, cyan,rgb(23, 44, 104),rgb(119, 17, 119),rgb(196, 133, 17));
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.conta2 .navbar a{
    text-transform: uppercase;
    font-size: 20px;
}

.conta2 .navbar a:active{
    color: blueviolet;
}

.conta2 .navbar ul li{
    color: blanchedalmond;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}